@use '../../app/styles/variables.scss' as var;

.contentLinks {
  margin-bottom: 40px;
  &_title {
    margin-bottom: 8px;
  }

  &_box {
    padding: 24px;
    border-radius: 16px;
    background-color: var(--field);

    button {
      background-color: var(--bg);
      font-weight: 300;
      max-width: 100%;
      width: 100%;
    }
  }
  &_inner {
    margin-bottom: 24px;
  }
  &_item {
    display: flex;
    gap: 8px;

    input {
      background-color: #fff;
    }
  }
  &_item + .contentLinks_item {
    margin-top: 8px;
  }

  @media (max-width: var.$screen-s) {
    &_box {
      padding: 16px;
    }
  }
}
